{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Stubborn{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Bienvenue chez Stubborn</h1>

<p>Don't compromise on your look</p>

<h2>Produits mis en avant</h2>

{% for product in products %}
    <div>
        <img src="/images/{{ product.image }}" width="150">
        <p>{{ product.name }} - {{ product.price }} €</p>
        
        {# Bouton “Voir” seulement si l’utilisateur est connecté #}
        {% if app.user %}
        <a href="{{ path ('product_show', {id: product.id}) }}">Voir</a>
        {% else %}
            <span style="color:gray;">Connectez-vous pour voir les détails</span>
        {% endif %}
    </div>
    {% else %}
    <p>Aucun produit mis en avant</p>
{% endfor %}
{% endblock %}
