<h2>Bonjour {{ user.name }} !</h2>
<p>Merci pour votre inscription. Cliquez sur le lien ci-dessous pour activer votre compte :</p>
<p><a href="{{ verificationUrl }}">Activer mon compte</a></p>
<p>Si vous n'avez pas créé de compte, ignorez ce message.</p>